.searchSection{
    /* border: 1px solid blue; */
    margin: 10rem auto 8rem auto;
}

.searchSection div:nth-child(1){
    text-align: center;
}

.searchSection input[type="search"]{
    width: 70%;
    height: 3.5rem;
    font-size: 1.4rem;
    text-align: center;
    padding: .5rem;
    outline: none;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}

.searchSection .cardSection{
    /* border: 1px solid fuchsia; */
    margin-top: 7rem;
}

.searchSection .cardSection{
    gap: 4rem;
}

.searchSection .cardSection .card{
    border: 1px solid black;
}

.searchSection .cardSection .card div:first-child img{
    height: 20rem;
}

.searchSection .cardSection .card div:last-child{
    padding: 1.5rem;
    text-align: left;
    line-height: 2rem;
}
.searchSection .cardSection .card div:last-child p span:first-child{
    font-size: 1.4rem;
    font-weight: bold;
}

.searchSection .cardSection .card div:last-child p span:last-child{
    font-size: 1.3rem;
}

.cardSection .noDoctorsFound{
    font-size: 2rem;
    
}