.credentialsSection{
    margin: 10rem auto 8rem auto;
    /* border: 1px solid blue; */
}

.credentialsSection h2{
    font-size: 2.5rem;
}

.credentialsSection p{
    font-size: 1.2rem;
    max-width: 40%;
    line-height: 1.5rem;
    margin-top: 1.5rem;
}



/* ===============login form ==================================== */

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login p{
    text-align: center;
}

.credentialsSection .loginForm{
    margin: 3rem auto;
    /* border: 1px solid red; */
    width: 40%;
}

.credentialsSection .loginForm form{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.credentialsSection .loginForm form input[type="email"],
.credentialsSection .loginForm form input[type="password"]{
    width: 100%;
    height: 3.3rem;
    outline: none;
    padding: 0 1rem;
}
.credentialsSection .loginForm form input[type="password"]{
    margin-top: 2rem;
}

.credentialsSection .loginForm form p{
    font-size: 1.3rem;
}

.credentialsSection .loginForm form div{
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;
}

.credentialsSection .loginForm form div input[type="submit"]{
    width: 30%;
    margin-top: 2rem;
}


/* ==============================================sign form ============================================= */

.credentialsSection .signUpForm{
    margin: 3rem auto;
    /* border: 1px solid red;  */
}


.credentialsSection .signUpForm form div:nth-child(1),
.credentialsSection .signUpForm form div:nth-child(2),
.credentialsSection .signUpForm form div:nth-child(3),
.credentialsSection .signUpForm form div:nth-child(4){
    display: flex;
    justify-content: space-between;
}

.credentialsSection .signUpForm form div{
    margin-top: 2rem;
}

.credentialsSection .signUpForm form input[type="text"],
.credentialsSection .signUpForm form input[type="email"],
.credentialsSection .signUpForm form input[type="number"],
.credentialsSection .signUpForm form input[type="password"],
.credentialsSection .signUpForm form input[type="date"], select{
    height: 3.3rem;
    padding: 0 .5rem;
    font-size: 1.3rem;
    outline: none;
    width: 48%;
}



.credentialsSection .signUpForm form div:last-child{
    /* border: 1px solid red; */
    width: 100%;
    
}

.credentialsSection .signUpForm form div:last-child input[type="submit"]{
    width: 15%;
    margin-top: 1rem;
}